In [1]:
# !pip install oolearning --upgrade

In [2]:
import copy
import os
import oolearning as oo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from helpers import column_log, BinaryAucRocScore

pd.set_option('display.width', 500)
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
width = 10
plt.rcParams['figure.figsize'] = [width, width/1.333]

In [3]:
csv_file = '../census.csv'
target_variable = 'income'

explore = oo.ExploreClassificationDataset.from_csv(csv_file_path=csv_file,
                                                   target_variable=target_variable)
negative_class = '<=50K'
positive_class = '>50K'

explore.dataset.head(20)

    age         workclass education_level  education-num         marital-status         occupation   relationship                race     sex  capital-gain  capital-loss  hours-per-week native-country income
0   39   State-gov         Bachelors       13.0           Never-married          Adm-clerical       Not-in-family  White               Male    2174.0        0.0           40.0            United-States  <=50K
1   50   Self-emp-not-inc  Bachelors       13.0           Married-civ-spouse     Exec-managerial    Husband        White               Male    0.0           0.0           13.0            United-States  <=50K
2   38   Private           HS-grad         9.0            Divorced               Handlers-cleaners  Not-in-family  White               Male    0.0           0.0           40.0            United-States  <=50K
3   53   Private           11th            7.0            Married-civ-spouse     Handlers-cleaners  Husband        Black               Male    0.0           0.0           40.0            United-States  <=50K
4   28   Private           Bachelors       13.0           Married-civ-spouse     Prof-specialty     Wife           Black               Female  0.0           0.0           40.0            Cuba           <=50K
5   37   Private           Masters         14.0           Married-civ-spouse     Exec-managerial    Wife           White               Female  0.0           0.0           40.0            United-States  <=50K
6   49   Private           9th             5.0            Married-spouse-absent  Other-service      Not-in-family  Black               Female  0.0           0.0           16.0            Jamaica        <=50K
7   52   Self-emp-not-inc  HS-grad         9.0            Married-civ-spouse     Exec-managerial    Husband        White               Male    0.0           0.0           45.0            United-States  >50K
8   31   Private           Masters         14.0           Never-married          Prof-specialty     Not-in-family  White               Female  14084.0       0.0           50.0            United-States  >50K
9   42   Private           Bachelors       13.0           Married-civ-spouse     Exec-managerial    Husband        White               Male    5178.0        0.0           40.0            United-States  >50K
10  37   Private           Some-college    10.0           Married-civ-spouse     Exec-managerial    Husband        Black               Male    0.0           0.0           80.0            United-States  >50K
11  30   State-gov         Bachelors       13.0           Married-civ-spouse     Prof-specialty     Husband        Asian-Pac-Islander  Male    0.0           0.0           40.0            India          >50K
12  23   Private           Bachelors       13.0           Never-married          Adm-clerical       Own-child      White               Female  0.0           0.0           30.0            United-States  <=50K
13  32   Private           Assoc-acdm      12.0           Never-married          Sales              Not-in-family  Black               Male    0.0           0.0           50.0            United-States  <=50K
14  34   Private           7th-8th         4.0            Married-civ-spouse     Transport-moving   Husband        Amer-Indian-Eskimo  Male    0.0           0.0           45.0            Mexico         <=50K
15  25   Self-emp-not-inc  HS-grad         9.0            Never-married          Farming-fishing    Own-child      White               Male    0.0           0.0           35.0            United-States  <=50K
16  32   Private           HS-grad         9.0            Never-married          Machine-op-inspct  Unmarried      White               Male    0.0           0.0           40.0            United-States  <=50K
17  38   Private           11th            7.0            Married-civ-spouse     Sales              Husband        White               Male    0.0           0.0           50.0            United-States  <=50K
18  43   Self-emp-not-inc  Masters         14.0           Divorced               Exec-managerial    Unmarried      White               Female  0.0           0.0           45.0            United-States  >50K
19  40   Private           Doctorate       16.0           Married-civ-spouse     Prof-specialty     Husband        White               Male    0.0           0.0           60.0            United-States  >50K

In [4]:
global_transformations = [oo.ImputationTransformer(),
                          oo.StatelessColumnTransformer(columns=['capital-gain', 'capital-loss'],
                                                        custom_function=column_log),
                          oo.CenterScaleTransformer(),
                          oo.DummyEncodeTransformer(oo.CategoricalEncoding.ONE_HOT)]

In [5]:
params_dict = dict(
                    n_estimators=[1250, 1500, 1750],
                    max_depth=[3, 4, 5],
                    min_child_weight=[2, 3, 4],
                    subsample=[0.90, 0.95, 1],
)
grid = oo.HyperParamsGrid(params_dict=params_dict)
grid.params_grid

    n_estimators  max_depth  min_child_weight  subsample
0   1250          3          2                 0.90
1   1250          3          2                 0.95
2   1250          3          2                 1.00
3   1250          3          3                 0.90
4   1250          3          3                 0.95
5   1250          3          3                 1.00
6   1250          3          4                 0.90
7   1250          3          4                 0.95
8   1250          3          4                 1.00
9   1250          4          2                 0.90
10  1250          4          2                 0.95
11  1250          4          2                 1.00
12  1250          4          3                 0.90
13  1250          4          3                 0.95
14  1250          4          3                 1.00
15  1250          4          4                 0.90
16  1250          4          4                 0.95
17  1250          4          4                 1.00
18  1250          5          2                 0.90
19  1250          5          2                 0.95
20  1250          5          2                 1.00
21  1250          5          3                 0.90
22  1250          5          3                 0.95
23  1250          5          3                 1.00
24  1250          5          4                 0.90
25  1250          5          4                 0.95
26  1250          5          4                 1.00
27  1500          3          2                 0.90
28  1500          3          2                 0.95
29  1500          3          2                 1.00
30  1500          3          3                 0.90
31  1500          3          3                 0.95
32  1500          3          3                 1.00
33  1500          3          4                 0.90
34  1500          3          4                 0.95
35  1500          3          4                 1.00
36  1500          4          2                 0.90
37  1500          4          2                 0.95
38  1500          4          2                 1.00
39  1500          4          3                 0.90
40  1500          4          3                 0.95
41  1500          4          3                 1.00
42  1500          4          4                 0.90
43  1500          4          4                 0.95
44  1500          4          4                 1.00
45  1500          5          2                 0.90
46  1500          5          2                 0.95
47  1500          5          2                 1.00
48  1500          5          3                 0.90
49  1500          5          3                 0.95
50  1500          5          3                 1.00
51  1500          5          4                 0.90
52  1500          5          4                 0.95
53  1500          5          4                 1.00
54  1750          3          2                 0.90
55  1750          3          2                 0.95
56  1750          3          2                 1.00
57  1750          3          3                 0.90
58  1750          3          3                 0.95
59  1750          3          3                 1.00
60  1750          3          4                 0.90
61  1750          3          4                 0.95
62  1750          3          4                 1.00
63  1750          4          2                 0.90
64  1750          4          2                 0.95
65  1750          4          2                 1.00
66  1750          4          3                 0.90
67  1750          4          3                 0.95
68  1750          4          3                 1.00
69  1750          4          4                 0.90
70  1750          4          4                 0.95
71  1750          4          4                 1.00
72  1750          5          2                 0.90
73  1750          5          2                 0.95
74  1750          5          2                 1.00
75  1750          5          3                 0.90
76  1750          5          3                 0.95
77  1750          5          3                 1.00
78  1750          5          4                 0.90
79  1750          5          4                 0.95
80  1750          5          4                 1.00

In [6]:
n_positive = np.sum(explore.dataset[target_variable] == positive_class)
n_negative = np.sum(explore.dataset.income == negative_class)
scale_pos_weight_calc = n_negative / n_positive
scale_pos_weight_calc

3.034796573875803

In [7]:
hyper_param_object = oo.XGBoostTreeHP(
                                objective=oo.XGBObjective.BINARY_LOGISTIC,
                                learning_rate=0.05,
                                n_estimators=1500,
                                max_depth=4,
                                min_child_weight=3,
                                gamma=0.1,
                                subsample=0.95,
                                colsample_bytree=0.15,

                                reg_alpha=0.005,
    
                                scale_pos_weight=scale_pos_weight_calc,)

In [8]:
model=oo.XGBoostClassifier()

In [9]:
repeats = 5
folds = 5

In [10]:
model_cache_directory = 'tuner_XGB'
resampler_cache_directory = 'tuner_XGB_resample_cache'

In [11]:
score_list = [BinaryAucRocScore(positive_class=positive_class, threshold=0.5),
              oo.AucRocScore(positive_class=positive_class),
              oo.FBetaScore(converter=oo.TwoClassThresholdConverter(threshold=0.5,
                                                                    positive_class=positive_class),
                            beta=0.5),
              oo.SensitivityScore(converter=oo.TwoClassThresholdConverter(threshold=0.5,
                                                                          positive_class=positive_class)),
              oo.PositivePredictiveValueScore(converter=oo.TwoClassThresholdConverter(threshold=0.5,
                                                                                      positive_class=positive_class))]

In [12]:

# define/configure the resampler
resampler = oo.RepeatedCrossValidationResampler(model=model,  # using a Random Forest model
                                             transformations=global_transformations,
                                             scores=[s.clone() for s in score_list],
                                             folds=folds,
                                             repeats=repeats)
# define/configure the ModelTuner
tuner = oo.ModelTuner(resampler=resampler,
                      hyper_param_object=hyper_param_object,
                      model_persistence_manager=oo.LocalCacheManager(cache_directory=model_cache_directory),
                      resampler_persistence_manager=oo.LocalCacheManager(cache_directory=resampler_cache_directory),
                      parallelization_cores=-1,
                      #parallelization_cores=0,
                     )

In [ ]:
tuner.tune(data_x=explore.dataset.drop(columns=target_variable),
           data_y=explore.dataset[target_variable],
           params_grid=grid)

In [ ]:
tuner.results.plot_resampled_stats()

In [ ]:
tuner.results.plot_resampled_scores(score_name='BINARY_AUC')

In [ ]:
tuner.results.plot_resampled_scores(score_name='BINARY_AUC',
                                    x_axis_limits=(0.82, 0.86),
                                    show_one_ste_rule=True
                                   )

In [ ]:
tuner.results.best_model_resampler_object.score_means

In [ ]:
assert False

# Resample Ideal Threshold

In [ ]:
final_hyper_param_object = oo.XGBoostTreeHP(
                                    objective=oo.XGBObjective.BINARY_LOGISTIC,
                                    learning_rate=0.3,
                                    n_estimators=1000,
                                    max_depth=4,
                                    min_child_weight=3,
                                    gamma=0.1,
                                    subsample=0.8,
                                    colsample_bytree=0.8,
                                    scale_pos_weight=scale_pos_weight_calc,)

final_model = oo.XGBoostClassifier()
final_transformations = [
                         # kaggle test file has white space around values
                         oo.StatelessColumnTransformer(columns=explore.categoric_features,
                                                       custom_function=lambda x: x.str.strip()),
                         oo.ImputationTransformer(),
                         oo.StatelessColumnTransformer(columns=['capital-gain', 'capital-loss'],
                                                       custom_function=column_log),
                         oo.CenterScaleTransformer(),
                         oo.DummyEncodeTransformer(oo.CategoricalEncoding.ONE_HOT)
]

In [ ]:
decorator = oo.TwoClassThresholdDecorator(parallelization_cores=0)
resampler = oo.RepeatedCrossValidationResampler(
    model=final_model.clonbe(),
    transformations=[t.clone() for t in final_transformations],
    scores=[s.clone() for s in score_list],
    folds=5,  # 5 folds with 5 repeats
    repeats=1,
    fold_decorators=[decorator])
resampler.resample(data_x=explore.dataset.drop(columns=target_variable),
                   data_y=explore.dataset[target_variable],
                   hyper_params=final_hyper_param_object.clone())
ideal_threshold = np.mean(decorator.roc_ideal_thresholds)

In [ ]:
ideal_threshold

In [ ]:
# use the ideal threshold for the evaluator in order to view ROC
evaluator = oo.TwoClassProbabilityEvaluator(converter=
                    oo.TwoClassThresholdConverter(threshold=ideal_threshold,  # ideal threshold
                                                  positive_class=positive_class))

trainer = oo.ModelTrainer(model=final_model.clone(),
                          model_transformations=[t.clone() for t in final_transformations],
                          splitter=None,  # don't split, train on all data
                          evaluator=evaluator,
                          scores=[s.clone() for s in score_list])
trainer.train(data=explore.dataset, target_variable=target_variable, hyper_params=final_hyper_param_object.clone())

trainer.training_evaluator.all_quality_metrics

In [ ]:
trainer.training_scores[0]

In [ ]:
trainer.training_evaluator.plot_roc_curve()

In [ ]:
csv_file = '../test_census.csv'
test_dataset = pd.read_csv(csv_file)
test_dataset.shape

In [ ]:
test_dataset.head(10)

In [ ]:
indexes = test_dataset['Unnamed: 0']

predictions = trainer.predict(test_dataset.drop(columns='Unnamed: 0'))
test_converter = oo.TwoClassThresholdConverter(threshold=ideal_threshold,  # ideal thresholds
                                               positive_class=positive_class)
predictions.head()

In [ ]:
class_predictions = test_converter.convert(predictions)
class_predictions[0:5]

In [ ]:
income_value = [0 if x == '<=50K' else 1 for x in class_predictions]
pd.DataFrame({'id': indexes, 'income': income_value}).to_csv('submission_4_xgb.csv',
                                                             index=False)

# Results

Kaggle Public: `0.89605`

File: `submission_4_xgb.csv`

Parameters: 
```
learning_rate=0.3,
n_estimators=1000,
max_depth=4,
min_child_weight=3,
gamma=0.1,
subsample=0.8,
colsample_bytree=0.8,
scale_pos_weight=scale_pos_weight_calc,
```

Originally had Mean Resampler Results of:

```
{'BINARY_AUC': 0.8433410426212617,
 'AUC_ROC': 0.9272811731616264,
 'F_BETA': 0.6513894746057892,
 'sensitivity': 0.8668096351059255,
 'positive_predictive_value': 0.6133051758501008}
```

---